@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-BlackItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-BoldItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-ExtraBoldItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-ExtraLightItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-LightItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-MediumItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-RegularItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-SemiBoldItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-ThinItalic.otf) format("opentype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Black.otf) format("opentype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-ExtraBold.otf) format("opentype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-ExtraLight.otf) format("opentype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Light.otf) format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Medium.otf) format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Regular.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-SemiBold.otf) format("opentype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Metropolis";
    src: url(../Metropolis_Fonts/Metropolis-Thin.otf) format("opentype");
    font-style: normal;
    font-weight: 100;
}



